@keyframes bounce {
    0%, 50%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    80% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
body{
    background-color: black;

}
.cabecalho{
    width: 500px;
    margin: auto;
    background-color: rgba(254, 252, 252, 0.064);
    color: rgba(230, 185, 5, 0.93);
    font-family: garamond;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(88, 83, 3);
    box-shadow: 0px 10px 5px rgb(41, 32, 5);
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;   
}
    .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30 px;

}
.efeito{
    border: none;
    color: black;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'fasthand', cursive;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.437);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    background-color:rgb(97, 95, 95);
    box-shadow: 0px 3px 3px rgb(217, 212, 212);
    
}
.efeito-1:hover{
    animation: bounce 1s;
}
.efeito:active{
    box-shadow: 2px 2px 1px red, inset 2px 2px 1px yellow;
    position: relative;
    top: 5px;
}