@keyframes bounce {
    0%, 50%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    80% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
body{
    background-color: black;

}
header{
    width: 500px;
    margin: auto;
    background-color: rgba(224, 8, 87, 0.403);
    color: aliceblue;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 20px;
    border: 2px solid rgb(224, 8, 87);
    box-shadow: 0px 10px 1px rgb(224, 8, 87);
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;   
}
figure img{
    border: 3px solid rgb(158, 4, 53);
    border-radius: 45px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;

}
.efeito{
    border: none;
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    
}
.efeito-1{
    background-color: #28348a;
}
.efeito-1:hover{
    animation: bounce 1s;
}